<div class="banner">
  <span><a href="">fb</a></span><span><a href="">IG</a></span>
  <img src="../img/seety logo(白).png" alt="Logo(白)">
</div>
</header>
<main>
  <nav>
    <div class="nav-bar">
      <div class="prof-pic"></div>
      <ul class="nav-list">
        <a href="#about-seety">
          <li>關於Seety</li>
        </a>
        <a href="#exhibition-and-performance">
          <li>展演資訊</li>
        </a>
        <a href="#space-introduction">
          <li>場館介紹</li>
        </a>
        <a href="">
          <li>租借方案</li>
        </a>
        <a href="">
          <li>設備概覽</li>
        </a>
        <a href="footer">
          <li>聯絡我們</li>
        </a>
        <a href="">
          <li>Seety Blog</li>
        </a>
      </ul>
    </div>
  </nav>