* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

.opc {
  opacity: 0.6;
}

.banner {
  width: 100%;
  background-image: url("./img/seety-page2-banner.png");
  background-size: cover;
  height: 40vh;
  background-position: center;
}

body {
  background-color: bisque;
}

nav {
  width: 100%;
  height: 150px;
  background-color: #2f2822;
  padding: 0 150px;
  z-index: 1;
}
nav.top {
  height: 100px;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  -webkit-animation: up-and-down 0.5s linear forwards;
          animation: up-and-down 0.5s linear forwards;
}
nav .nav-bar {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  justify-content: space-between;
}
nav .nav-bar.just-center {
  justify-content: center;
}
nav .nav-bar .prof-pic {
  position: -webkit-sticky;
  position: sticky;
  top: 94px;
  margin: -60px 0 -60px 14px;
  height: 200px;
  width: 200px;
  background-image: url("./img/LOGO.jpeg");
  background-size: contain;
  border-radius: 50%;
  border: 4px solid #cea581;
  transition: box-shadow 0.3s linear, transform 0.3s linear, scale 0.1s, opacity 0.2s;
}
nav .nav-bar .prof-pic:hover {
  box-shadow: 0 0 15px 5px #d3b79d;
  opacity: 1;
}
nav .nav-bar .prof-pic.opc {
  position: absolute;
  top: 0vh;
  left: 0px;
  transform: translate(500%, 136vh);
  scale: 0.7;
}
nav .nav-bar .prof-pic.opc ~ .nav-list a {
  -webkit-animation: left-and-right 0.2s linear forwards;
          animation: left-and-right 0.2s linear forwards;
}
nav .nav-bar .ul-switch {
  display: none;
}
nav .nav-bar .ul-switch ~ #nav-ul-switch {
  display: none;
}
nav .nav-bar .nav-list {
  height: 70%;
  width: 75%;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: flex-end;
  gap: 2.5784986484%;
  transition: all 0.3s linear;
}
nav .nav-bar .nav-list a {
  margin: 0;
  text-decoration: none;
  color: #2f2822;
  background-color: #cea581;
  display: inline-block;
  width: 11.9775421085%;
  height: 44px;
  line-height: 44px;
  text-align: center;
  border-radius: 15px;
  transition: box-shadow 0.2s linear, color 0.3s linear;
}
nav .nav-bar .nav-list a:hover {
  background-color: #d5b598;
  box-shadow: 0 0 15px 5px #d3b79d;
  color: #522a2a;
}
nav .nav-bar .little-nav-pic {
  display: none;
}
nav .nav-bar .opt-list {
  display: none;
}
@media (max-width: 1377px) {
  nav {
    padding: 0 100px;
  }
  nav .nav-bar {
    justify-content: center;
  }
  nav .nav-bar .prof-pic {
    display: none;
  }
  nav .nav-bar .prof-pic.opc {
    display: block;
  }
  nav .nav-bar .nav-list {
    width: 100%;
  }
}
@media (max-width: 768px) {
  nav {
    padding: 0;
    height: 65px;
    transition: all 0.2s;
    position: relative;
  }
  nav.top {
    height: 65px;
  }
  nav.top .nav-bar .nav-list.switch {
    position: fixed;
    inset: 65px auto auto 0;
  }
  nav .nav-bar {
    justify-content: flex-end;
    flex-wrap: wrap;
  }
  nav .nav-bar.just-center {
    justify-content: flex-end;
  }
  nav .nav-bar .prof-pic.opc {
    display: none;
  }
  nav .nav-bar .nav-list {
    display: none;
    opacity: 0;
    transition: opacity 0.2s linear;
  }
  nav .nav-bar .nav-list.switch {
    opacity: 1;
    display: flex;
    position: absolute;
    inset: auto 0 65px auto;
    flex-direction: column;
    height: 60vh;
    justify-content: space-between;
    padding: 15px 0;
    background-color: rgb(69, 0, 0);
  }
  nav .nav-bar .nav-list.switch a {
    display: block;
    width: 100%;
    border-radius: 0;
    border-bottom: 1px solid rgb(83, 28, 28);
    height: 13.8888888889%;
  }
  nav .nav-bar .little-nav-pic {
    display: block;
    position: absolute;
    height: 100%;
    inset: 0 auto auto 50%;
    transform: translateX(-50%);
  }
  nav .nav-bar .opt-list {
    height: 65%;
    display: block;
    margin: auto 50px auto 0;
  }
}
@media (max-width: 469px) {
  nav .nav-bar .opt-list {
    margin-right: 5px;
    height: 50%;
  }
}

#render {
  margin: 10vh 0;
  padding: 0 150px;
  width: 100%;
}
#render .render-zone {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
#render .render-zone .information-card {
  height: 30vh;
  width: 100%;
  border: 1px solid #92908e;
  margin-bottom: 10px;
}
#render .render-zone .information-card .container {
  height: 100%;
  display: flex;
  justify-content: space-around;
}
#render .render-zone .information-card .container .image-area {
  height: 100%;
  width: 40%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
#render .render-zone .information-card .container .image-area img {
  max-width: 100%;
  max-height: 100%;
}
#render .render-zone .information-card .container .content-area {
  border: 1px solid #92908e;
  padding-left: 3%;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#render .render-zone .information-card .container .content-area h1 {
  margin-bottom: 10px;
}