@charset "UTF-8";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
}

a {
  color: #000;
}

.banner {
  width: 100%;
  background-image: url("./img/seety-page2-banner.png");
  background-size: cover;
  height: 40vh;
  background-position: center;
}

:root {
  --web-side-padding-y: 80px;
  --web-side-padding-x: 200px;
  --main-decorate-color: #c78763;
  --sub-decorate-color: #847d7d;
  --main-bg-color: #3d342e;
  --card-sub-color: #eaeaea;
}

body {
  background-color: bisque;
}

nav {
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 var(--web-side-padding-x);
  background-color: var(--main-bg-color);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 99;
}
nav .list {
  display: flex;
  gap: 1rem;
}
nav ul {
  display: flex;
  gap: 1rem;
}
nav ul a {
  text-decoration: none;
}

nav li {
  font-size: 1.5vw;
  font-weight: 700;
  line-height: 1.5vw;
  background-color: var(--main-decorate-color);
  padding: 10px 16px;
  border-radius: 15px;
}

nav .more {
  display: none;
}

.back-to-top {
  display: none;
  width: 200px;
  height: 200px;
  z-index: 3;
}

.back-to-top img {
  width: 100%;
}

.back-to-top.appear {
  display: block;
  position: fixed;
  top: 9vh;
  right: 30px;
  -webkit-animation: appear 0.7s ease-out forwards;
          animation: appear 0.7s ease-out forwards;
}

@media (max-width: 1366px) {
  :root {
    --web-side-padding-y: 40px;
    --web-side-padding-x: 100px;
  }
  nav .list {
    position: absolute;
    top: 10vh;
    left: 0;
    width: 100%;
    height: 90vh;
    flex-flow: column;
    text-align: end;
    background-color: var(--main-bg-color);
    padding: 1rem 0.5rem 1rem 2rem;
    z-index: 1;
  }
  nav li:not(.more) {
    background-color: transparent;
    background-image: url("../../img/更新的檔/00-header/nav-list-background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 50%;
    padding: 1rem;
    font-size: 1.5rem;
  }
  nav .list a {
    text-align: center;
  }
  nav .more {
    display: block;
  }
  nav ul .list {
    display: none;
  }
  nav ul .list.show {
    display: flex;
    flex-flow: column;
    gap: 2rem;
  }
}
@media (max-width: 960px) {
  .back-to-top {
    width: 150px;
  }
}
#render {
  margin: 10vh 0;
  padding: 0 150px;
  width: 100%;
}
#render .render-zone {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
#render .render-zone .information-card {
  height: 30vw;
  width: 100%;
  border: 1px solid #92908e;
  margin-bottom: 10px;
}
#render .render-zone .information-card .container {
  height: 100%;
  display: flex;
  justify-content: space-around;
}
#render .render-zone .information-card .container .image-area {
  height: 100%;
  width: 40%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
#render .render-zone .information-card .container .image-area img {
  max-width: 100%;
  max-height: 100%;
}
#render .render-zone .information-card .container .content-area {
  border: 1px solid #92908e;
  padding-left: 3%;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  word-wrap: normal;
  word-break: normal;
}
#render .render-zone .information-card .container .content-area h1 {
  margin-bottom: 10px;
}
@media (max-width: 1288px) {
  #render .render-zone {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  #render .render-zone .information-card {
    width: 90%;
    height: 40vw;
    margin-bottom: 30px;
  }
  #render .render-zone .information-card .container {
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: flex-start;
  }
  #render .render-zone .information-card .container .image-area {
    width: 100%;
    height: 30%;
    align-items: flex-start;
  }
  #render .render-zone .information-card .container .content-area {
    justify-content: flex-start;
    width: 100%;
    height: 70%;
  }
  #render .render-zone .information-card .container .content-area h1 {
    font-size: large;
    margin: 20px 5px;
  }
}
@media (max-width: 1035px) {
  #render .render-zone {
    grid-template-columns: repeat(2, 1fr);
  }
  #render .render-zone .information-card {
    width: 90%;
    justify-self: center;
    height: 450px;
  }
}
@media (max-width: 468px) {
  #render .render-zone {
    grid-template-columns: 1fr;
  }
  #render .render-zone .information-card {
    width: 90%;
    height: 70vh;
  }
}
@media (max-width: 1035px) {
  #render {
    padding: 0 50px;
  }
}
@media (max-width: 768px) {
  #render {
    padding: 0;
  }
}

@-webkit-keyframes appear {
  0% {
    transform: translateY(-100%);
  }
  40% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-25%);
  }
  60% {
    transform: translateY(-33%);
  }
  70% {
    transform: translateY(-25%);
  }
  80% {
    transform: translateY(0);
  }
  90% {
    transform: translateY(-10%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes appear {
  0% {
    transform: translateY(-100%);
  }
  40% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-25%);
  }
  60% {
    transform: translateY(-33%);
  }
  70% {
    transform: translateY(-25%);
  }
  80% {
    transform: translateY(0);
  }
  90% {
    transform: translateY(-10%);
  }
  100% {
    transform: translateY(0);
  }
}