* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
}

a {
  color: #000;
}

.banner {
  width: 100%;
  background-image: url('./img/seety-page2-banner.png');
  background-size: cover;
  height: 40vh;
  background-position: center;
}

:root {
  --web-side-padding-y: 80px;
  --web-side-padding-x: 200px;
  --main-decorate-color: #c78763;
  --sub-decorate-color: #847d7d;
  --main-bg-color: #3d342e;
  --card-sub-color: #eaeaea;
}

body {
  color: #a99f9f;
  background: linear-gradient(180deg, #432c2c, #695960);
}

nav {
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 var(--web-side-padding-x);
  background-color: var(--main-bg-color);
  position: sticky;
  top: 0;
  z-index: 2;
  .list {
    display: flex;
    gap: 1rem;
  }
  .more {
    display: none;
  }
  ul {
    display: flex;
    gap: 1rem;
    a {
      text-decoration: none;
    }
  }
}

nav li {
  font-size: 1.5vw;
  font-weight: 700;
  line-height: 1.5vw;
  background-color: var(--main-decorate-color);
  padding: 10px 16px;
  border-radius: 15px;
}

.back-to-top {
  display: none;
  width: 200px;
  height: 200px;
  z-index: 1;
  img {
    transition: transform 1s linear;
    width: 100%;
    &:hover {
      transform: scale(1.5) translateY(10%);
    }
  }
}

.back-to-top.appear {
  display: block;
  position: fixed;
  top: 9vh;
  right: 30px;
  animation: appear 0.7s ease-out forwards;
}

@media (max-width: 1366px) {
  :root {
    --web-side-padding-y: 40px;
    --web-side-padding-x: 100px;
  }

  nav .list {
    position: absolute;
    top: 10vh;
    left: 0;
    width: 100%;
    height: 90vh;
    flex-flow: column;
    text-align: end;
    background-color: var(--main-decorate-color);
    padding: 1rem 0.5rem 1rem 2rem;
    z-index: 1;
    a {
      text-align: center;
    }
  }

  nav li:not(.more) {
    background-color: transparent;
    background-image: url('../../img/更新的檔/00-header/nav-list-background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 50%;
    padding: 1rem;
    font-size: 1.5rem;
  }

  nav .more {
    display: block;
  }

  nav ul .list {
    display: none;
    &.show {
      display: flex;
      flex-flow: column;
      gap: 2rem;
    }
  }
}
@media (max-width: 960px) {
  .back-to-top {
    width: 150px;
  }
}

.block-all {
  display: none;
  width: 70%;
  height: 65vh;
  transform: translate(-50%, -50%);
  position: fixed;
  inset: 50% auto auto 50%;
  z-index: 3;
  &.show {
    display: block;
    box-shadow: 0 0 200px 70px black;
    background-color: #fff;
    display: flex;
    .image-area {
      width: 50%;
      img {
        max-width: 100%;
        height: 100%;
      }
    }
    .content-area {
      width: 50%;
    }
  }
}

#render {
  margin: 10vh 0;
  padding: 0 150px;
  width: 100%;
  .render-zone {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    .information-card {
      height: 30vw;
      width: 100%;
      border: 1px solid #92908e;
      margin-bottom: 10px;
      position: relative;
      .anchor {
        position: absolute;
        inset: -10vh auto auto 0;
      }
      .container {
        height: 100%;
        display: flex;
        justify-content: space-around;
        .image-area {
          height: 100%;
          width: 40%;
          display: flex;
          justify-content: flex-start;
          background: linear-gradient(
            45deg,
            rgba(0, 0, 0, 0.637),
            rgba(202, 202, 202, 0.171)
          );
          align-items: center;
          justify-content: center;

          img {
            width: 100%;
            max-height: 100%;
            object-fit: fill;
            object-position: center center;
          }
        }
        .content-area {
          border-left: 1px dashed #92908e;
          padding-left: 3%;
          width: 60%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          word-wrap: normal;
          word-break: normal;
          h1 {
            margin-bottom: 20px;
          }
          h4 {
            margin: 10px 0;
          }

          button {
            width: 75px;
            height: 40px;
            line-height: 40px;
            background-color: #c87561;
            border-radius: 5px;
            margin-top: 30px;
            margin-right: 5%;
            align-self: flex-end;
            &:hover {
              background-color: #c63771;
            }
          }
        }
      }
    }
    @media (max-width: 1288px) {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      .information-card {
        width: 90%;
        height: 40vw;
        margin-bottom: 30px;
        .container {
          flex-direction: column;
          height: 100%;
          width: 100%;
          justify-content: flex-start;
          .image-area {
            width: 100%;
            height: 50%;
            justify-content: center;
            img {
              // width: 100%;
              height: 100%;
              object-fit: fill;
            }
          }
          .content-area {
            justify-content: flex-start;
            width: 100%;
            height: 50%;
            overflow-y: scroll;
            &::-webkit-scrollbar-track {
              -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
              background-color: #ffc0cb;
            }
            h1 {
              font-size: large;
              margin: 20px 5px;
            }
          }
        }
      }
    }
    @media (max-width: 1035px) {
      grid-template-columns: repeat(2, 1fr);
      .information-card {
        width: 90%;
        justify-self: center;
        height: 450px;
      }
    }
    @media (max-width: 468px) {
      grid-template-columns: 1fr;
      .information-card {
        width: 90%;
        height: 70vh;
      }
    }
  }
  @media (max-width: 1035px) {
    padding: 0 50px;
  }
  @media (max-width: 768px) {
    padding: 0;
  }
}
@keyframes appear {
  0% {
    transform: translateY(-100%);
  }

  40% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-25%);
  }

  60% {
    transform: translateY(-33%);
  }

  70% {
    transform: translateY(-25%);
  }

  80% {
    transform: translateY(0);
  }

  90% {
    transform: translateY(-10%);
  }

  100% {
    transform: translateY(0);
  }
}
