* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

a {
    color: #000;
}

:root {
    --web-side-padding-y: 80px;
    --web-side-padding-x: 200px;
    --main-decorate-color: #c78763;
    --sub-decorate-color: #847d7d;
    --main-bg-color: #3d342e;
    --card-sub-color: #eaeaea;
}

body {
    perspective: 500px;
    overflow-x: hidden;
    position: relative;
}

nav {
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 var(--web-side-padding-x);
    background-color: var(--main-bg-color);
    position: sticky;
    top: 0;
    z-index: 99;
}

nav .list {
    display: flex;
    gap: 1rem;
}

nav ul {
    display: flex;
    gap: 1rem;
}

nav li {
    font-size: 1.5vw;
    font-weight: 700;
    line-height: 1.5vw;
    background-color: var(--main-decorate-color);
    padding: 10px 16px;
    border-radius: 15px;
}

nav .list li:hover {
    outline: 3px solid var(--main-decorate-color);
    outline-offset: 3px;
}

nav .more {
    display: none;
}

nav button {
    background-color: transparent;
    border: 0;
    font-size: 1.5vw;
    font-weight: 700;
    line-height: 1.5vw;
    background-color: var(--main-decorate-color);
    padding: 10px 16px;
    border-radius: 15px;
}

.back-to-top {
    display: none;
    width: 200px;
    height: 200px;
    z-index: 3;
}

.back-to-top img {
    width: 100%;
}

.back-to-top.appear {
    display: block;
    position: fixed;
    top: 9vh;
    right: 30px;
    animation: appear 0.7s ease-out forwards;
}

.room {
    width: 100%;
    height: 90vh;
    transform-style: preserve-3d;
    position: relative;
    overflow: hidden;
    background-color: #000;
}

.room .room-background {
    width: 100%;
    z-index: -1;
}

.room div img {
    width: 100%;
    opacity: 0;
    transition: opacity .1s ease-out;
}

.ins-content {
    position: relative;
}

.bass {
    width: 16%;
    position: absolute;
    inset: 17vw 0 0 15%;
}

.mic {
    width: 7.5%;
    position: absolute;
    inset: 13.5vw 0 0 31.5%;
}

.drum {
    width: 27%;
    position: absolute;
    inset: 9vw 0 0 37.5%;
}

.eg {
    width: 21%;
    position: absolute;
    inset: 18vw 0 0 62%;
}

.room div:hover :is(img, .info) {
    opacity: 1;
}

.room .info-content {
    background-color: var(--card-sub-color);
    display: inline-block;
    padding: 1.5rem 2rem 1rem;
    font-size: 1.5rem;
    position: relative;
    border-radius: 1rem;
}

.room .info-content span {
    display: block;
    width: 100%;
    height: 2px;
    background-color: var(--main-bg-color);
    margin: 10px 0;
}

.bass .info {
    position: absolute;
    inset: -40% auto auto -50%;
    opacity: 0;
    transition: opacity .1s ease-out;
}

.bass .info::before {
    content: '';
    width: 1px;
    height: 40px;
    background-color: var(--card-sub-color);
    position: absolute;
    top: 100%;
    left: 2rem;
}

.bass .info::after {
    content: '';
    width: 1px;
    height: 120px;
    background-color: var(--card-sub-color);
    transform: rotate(-60deg);
    transform-origin: 0 0;
    position: absolute;
    top: calc(100% + 40px);
    left: 2rem;
}

.bass .info-content::after {
    content: 'BASS';
    background-color: var(--main-bg-color);
    color: var(--card-sub-color);
    position: absolute;
    inset: -16% auto auto -10%;
    padding: 5px 10px;
    border-radius: 0.5rem;
}

.mic .info {
    position: absolute;
    inset: -40% auto auto -180%;
    opacity: 0;
    transition: opacity .1s ease-out;
}

.mic .info::before {
    content: '';
    width: 40px;
    height: 1px;
    background-color: var(--card-sub-color);
    position: absolute;
    top: 20%;
    right: -40px;
}

.mic .info::after {
    content: '';
    width: 1px;
    height: 100px;
    background-color: var(--card-sub-color);
    transform: rotate(-20deg);
    transform-origin: 0 0;
    position: absolute;
    top: 20%;
    right: -40px;
}

.mic .info-content::after {
    content: 'MIC';
    background-color: var(--main-bg-color);
    color: var(--card-sub-color);
    position: absolute;
    inset: -16% auto auto -10%;
    padding: 5px 10px;
    border-radius: 0.5rem;
}

.drum .info {
    position: absolute;
    inset: 0 -60% auto auto;
    opacity: 0;
    transition: opacity .1s ease-out;
}

.drum .info::before {
    content: '';
    width: 40px;
    height: 1px;
    background-color: var(--card-sub-color);
    position: absolute;
    top: 50%;
    left: -40px;
}

.drum .info::after {
    content: '';
    width: 1px;
    height: 120px;
    background-color: var(--card-sub-color);
    transform: rotate(50deg);
    transform-origin: 0 0;
    position: absolute;
    top: 50%;
    left: -40px;
}

.drum .info-content::after {
    content: 'DRUM';
    background-color: var(--main-bg-color);
    color: var(--card-sub-color);
    position: absolute;
    inset: -16% auto auto -10%;
    padding: 5px 10px;
    border-radius: 0.5rem;
}

.eg .info {
    position: absolute;
    inset: -60% -15% auto auto;
    opacity: 0;
    transition: opacity .1s ease-out;
}

.eg .info::after {
    content: '';
    width: 1px;
    height: 60px;
    background-color: var(--card-sub-color);
    transform: rotate(20deg);
    transform-origin: 0 0;
    position: absolute;
    top: 100%;
    right: 50%;
}

.eg .info-content::after {
    content: 'E.Guitar';
    background-color: var(--main-bg-color);
    color: var(--card-sub-color);
    position: absolute;
    inset: -16% auto auto -10%;
    padding: 5px 10px;
    border-radius: 0.5rem;
}

.room button {
    position: absolute;
    bottom: 3rem;
    right: 6rem;
    font-size: 2rem;
    padding: 1rem 1.5rem;
    border-radius: 0.5rem;
    outline: 3px solid var(--card-sub-color);
    outline-offset: 5px;
}


@media (max-width: 1366px) {
    :root {
        --web-side-padding-y: 40px;
        --web-side-padding-x: 100px;
    }

    nav .list {
        position: absolute;
        top: 10vh;
        left: 0;
        width: 100%;
        height: 90vh;
        flex-flow: column;
        text-align: end;
        background-color: var(--main-bg-color);
        padding: 1rem calc(var(--web-side-padding-x)/2);
        z-index: 1;
    }

    nav li:not(.more) {
        background-color: transparent;
        background-image: url('../../img/01-header/nav-list-background.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 0 50%;
        padding: 1rem;
        font-size: 1.5rem;
    }

    nav .list a {
        text-align: center;
    }

    nav .more {
        display: block;
    }

    nav ul .list {
        display: none;
    }

    nav ul .list.show {
        display: flex;
        flex-flow: column;
        gap: 2rem;
    }

    .room .info-content {
        font-size: 1.25rem;
    }

    .bass .info {
        inset: -60% auto auto -50%;
    }

    .bass .info::after {
        height: 70px;
    }

    .mic .info {
        inset: -60% auto auto -250%;
    }

    .drum .info::after {
        height: 0;
    }

    .eg .info {
        inset: -70% -50% auto auto;
    }

    .eg .info::after {
        height: 50px;
        right: 60%;
    }
}

@media (max-width: 960px) {
    .back-to-top {
        width: 150px;
    }

    .room .info-content {
        font-size: 1rem;
        padding: 1rem 1.5rem 0.5rem;
    }

    .bass .info {
        inset: -80% auto auto -50%;
    }

    .bass .info::after {
        height: 40px;
    }

    .mic .info::before {
        width: 0px;
    }

    .mic .info::after {
        right: -0px;
        height: 70px;
    }

    .eg .info::after {
        height: 30px;
    }
}

@media(max-width:660px) {
    :root {
        --web-side-padding-x: 32px;
    }
}

@media(max-width:576px) {
    .back-to-top {
        width: 100px;
    }
}