*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
button{
    border: 0;
    background: transparent;
}
:root{
    --color-1:#fff;
    --color-2:rgb(185, 185, 185);
    --color-3:rgb(105, 105, 105);
    --color-4:rgb(87, 87, 87);
    --color-5:rgb(2, 2, 2);
}

.navbar{
    width: 100%;
    height: 75px;
    background-color: var(--color-2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 442px;
    padding: 0 300px;
    position: fixed;
    top: 0;
    z-index: 99;
}
.logoIMG{      
    width: 60px;
    height: 60px; 
    display: inline-block;
    background-color:var(--color-3);
}
.navTags{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6 , 1fr);
}

.navTags a{
    color: var(--color-5);
}

.section-content{
    width: calc(100% - 400px);
    height: 100%;
    margin: auto;
}


#banner{ 
    width: 100%;
    height: calc(100vh - 75px);
    background-color: var(--color-1);
}

#banner .section-content {
    display: flex;
}
#banner img{
    width: 641px;
    height: 327px;
    margin: auto;
}





#aboutUs{
    width: 100%;
    height: calc(100vh - 75px);
    background-color: var(--color-2);
}
#aboutUs .section-content{
    padding-top: 50px;
}
#aboutUs h1{
    font-size: 5em;
}
#aboutUs .section-content article{
    display: flex;
    justify-content: space-between;
    position: relative;
}

#aboutUs .section-content article p{
    width: 50%;
    position: absolute;
    top: 200px;
    right: 0;
}





#showInformation{
    padding: 48px;
}

#showInformation .section-content{
    border: 1px solid #000;
}

#showInformation .section-content article{
    border-right: 1px solid #000;
    height: 100%;
    width: 212px;
    text-align: center;
    background-color: var(--color-2);
    font-size: 3em;
}



#showPlace{
    height: 100vh;
    background-color: var(--color-3);
}
#showPlace .section-content{
    width: 100%;
    padding: 100px 200px;
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 5em;
    text-align: center;
}

#showPlace .section-content article{
    width: 100%;
    height: 400px;
    background-color: #fff;
    display: flex;
    position: relative;
}

#showPlace .section-content article .smallRoom{
    width: 55%;
    height: 100%;
    clip-path: polygon(0% 0%, 100% 0%, 75% 100%, 0% 100%);
    position: absolute;
    left: 0;
}
#showPlace .section-content article .bigRoom{
    width: 55%;
    height: 100%;
    clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 0% 100%);
    position: absolute;
    right: 0;
}

#showPlace .section-content button{
    font-size: 3em;
    background-color: var(--color-2);
    width: 25%;
}





#contactUs{
    height: 100vh;
    background-color: var(--color-2);
}

#contactUs .section-content{
    width: 100%;
    padding: 50px 200px;
}

#contactUs .section-content header{
    font-size: 3em;
    margin-bottom: 100px;
}
#contactUs .section-content>article{
    display: flex;
    gap: 100px;
}

#information{
    display: flex;
    flex-flow: column;
    gap: 30px;
    font-size: 2em;
    margin-bottom: 125px;
}

#information article {
    display: flex;
    gap: 24px;
}


#followUs h1{
    font-size: 3em;
    margin-bottom: 50px;
}