* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  /* scroll-behavior: smooth; */
}

a {
  color: #000;
}

h3 {
  font-size: 5rem;
}

h5 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

h6 {
  font-size: 1.5rem;
}

p {
  font-size: 1rem;
  font-weight: 700;
}

:root {
  --web-side-padding-y: 80px;
  --web-side-padding-x: 200px;
  --main-decorate-color: #c78763;
  --sub-decorate-color: #847d7d;
  --main-bg-color: #3d342e;
  --card-sub-color: #eaeaea;
}

body {
  overflow-x: hidden;
  position: relative;
}

#svgPic {
  width: 100%;
  height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  inset: 0;
  z-index: 100;
  background-color: #fff;
  transition: 3s;
}

#svgPic.unshow {
  transform: translateY(-100%);
  opacity: 0.1;
}

/* header */

header {
  width: 100%;
  height: 90vh;
  display: flex;
  flex-flow: column;
}

.banner {
  width: 100%;
  height: 100vh;
  background-image: url('../../img/01-header/banner\ background.JPG');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center -94px;
  background-attachment: fixed;
  overflow: hidden;
  position: relative;
}

.banner .logo {
  position: absolute;
  top: 50%;
  right: 20%;
  width: 532px;
  height: 296px;
}

.banner .logo img {
  width: 100%;
}

nav {
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 var(--web-side-padding-x);
  background-color: var(--main-bg-color);
  position: sticky;
  top: 0;
  z-index: 99;
}

nav .list {
  display: flex;
  gap: 1rem;
}

nav .list li:hover {
  outline: 3px solid var(--main-decorate-color);
  outline-offset: 3px;
}

nav ul {
  display: flex;
  gap: 1rem;
}

nav li {
  width: 100%;
  font-size: 1.5vw;
  font-weight: 700;
  line-height: 1.5vw;
  background-color: var(--main-decorate-color);
  padding: 10px 16px;
  border-radius: 15px;
  text-align: center;
}

nav .more {
  display: none;
}

.back-to-top-effectBox {
  width: 300px;
  height: 250px;
  /* border: 3px solid #000; */
  display: none;
  z-index: 3;
  position: relative;
}

.back-to-top {
  width: 200px;
  height: 200px;
  /* background-color: red; */
  position: absolute;
  top: -5px;
  right: -70px;
  transform-origin: 100px 0;
  transition: transform 0.5s;
}

.back-to-top img {
  width: 100%;
}

.back-to-top-effectBox.appear {
  display: block;
  position: fixed;
  top: 9vh;
  right: 0px;
  animation: appear 0.7s ease-out forwards;
}

/* main */
main {
  background: linear-gradient(#432c2c, #a99f9f);
}

main > section {
  overflow: hidden;
}

.section-content {
  width: 100%;
  height: 100%;
  padding: var(--web-side-padding-y) var(--web-side-padding-x);
  position: relative;
  z-index: 1;
  /* test */
  /* border: 1px solid #000; */
}

.section-title {
  font-size: 3rem;
  color: var(--card-sub-color);
  margin-bottom: var(--web-side-padding-y);
  transform: translateX(-200px);
  opacity: 0;
  filter: blur(4px);
  transition: all 0.8s ease;
}

.title-fade-in {
  transform: translateX(0px);
  opacity: 1;
  filter: blur(0);
}

#about-seety {
  /* background-image: url('../../img/更新的檔/01-about/background.png'); */
  background-size: cover;
  min-height: 100vh;
  position: relative;
  /* background: linear-gradient(135deg, #2d1414e3, #2b0f0f57); */
}

#about-seety .background-image {
  width: 1903px;
  height: 100%;
  position: absolute;
  z-index: 0;
}

#about-seety .decorate-cloud {
  width: 45%;
  min-width: 500px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 2;
  opacity: 0.5;
  clip-path: polygon(
    0% 0%,
    30% 0%,
    35% 25%,
    60% 50%,
    100% 60%,
    100% 100%,
    0% 100%
  );
}

#about-seety .about-info {
  display: flex;
  gap: 10%;
}

#about-seety .imgSwiper {
  width: 60%;
}

#about-seety .swiper {
  width: 100%;
  height: 100%;
  border-radius: 2rem;
  overflow: hidden;
}

#about-seety .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

#about-seety .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#about-seety .swiper {
  margin-left: auto;
  margin-right: auto;
}

#about-seety .text-n-controller {
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  padding: 5rem 0;
  gap: 3rem;
}

#about-seety .text-n-controller .imgSwiper {
  display: none;
}

#about-seety .container p {
  font-size: 2rem;
  line-height: 4rem;
}

#about-seety .controller {
  border-top: 5px solid var(--main-decorate-color);
  border-bottom: 5px solid var(--main-decorate-color);
  height: 150px;
  font-size: 4rem;
  line-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  color: var(--sub-decorate-color);
  position: relative;
}

#about-seety .controller span {
  width: 40px;
}

#about-seety .controller > i {
  transition: transform 0.2s linear;
}

#about-seety .controller .fa-backward-step:active {
  transform: translateX(-10px);
}

#about-seety .controller .fa-forward-step:active {
  transform: translateX(10px);
}

.swiper-button-next.abSwiper::after {
  content: '';
}

.swiper-button-prev.abSwiper::after {
  content: '';
}

#about-seety :is(.fa-play, .fa-pause) {
  color: var(--main-decorate-color);
}

#about-seety .switch {
  display: none;
}

#about-seety .controller::before {
  content: 'Click !';
  font-size: 2rem;
  position: absolute;
  top: -15px;
  left: 0;
  color: #000;
}

#about-seety .swiper-pagination.abSwiper {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

#about-seety .swiper-pagination.abSwiper span {
  width: 30px;
  height: 30px;
  background-color: var(--sub-decorate-color);
}

#about-seety .swiper-pagination.abSwiper .swiper-pagination-bullet-active {
  background-color: var(--main-decorate-color);
}

#performance-information {
  /* background-image: url('../../img/更新的檔/02-performance/background.png'); */
  background-size: cover;
  min-height: 100vh;
  position: relative;
  overflow: visible;
}

#performance-information .section-title {
  display: flex;
  align-items: flex-end;
}

#performance-information .section-title h1 {
  display: flex;
  flex-flow: column;
  width: 800px;
  margin-right: 10%;
}

#performance-information .section-title h1 span:last-child {
  text-align: end;
}

#performance-information .section-title h1::after {
  content: '';
  width: 140%;
  height: 20px;
  background-color: var(--main-decorate-color);
  border-radius: 8px;
}

#performance-information .section-title div {
  width: 100%;
  height: 50px;
  background-color: var(--main-decorate-color);
  border-radius: 8px;
  color: var(--card-sub-color);
  text-align: end;
  line-height: 50px;
  font-size: 3rem;
  padding-right: 3rem;
}

.performance-information-card {
  width: 450px;
  height: 450px;
  position: relative;
  display: flex;
  flex-flow: column;
  user-select: none;
  cursor: pointer;
}

.performance-information-card img {
  width: 90%;
}

.performance-information-card span {
  display: inline-block;
  width: 100%;
  aspect-ratio: 1 / 0.9;
  background-color: var(--sub-decorate-color);
  position: absolute;
  left: 0;
  top: 10%;
  z-index: -1;
}

.performance-information-card small {
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: capitalize;
  align-self: flex-end;
  margin-right: 40px;
  line-height: 2.5rem;
}

#performance-information .swiper {
  width: 100%;
  height: 100%;
  position: relative;
}

#performance-information .swiper-slide {
  text-align: center;
  font-size: 18px;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

#performance-information.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#performance-information .arrow {
  width: 15%;
  position: absolute;
  right: 200px;
  bottom: 50px;
}

#performance-information .sound-effect {
  width: 25%;
  min-width: 300px;
  position: absolute;
  top: 87%;
  mix-blend-mode: multiply;
}

#living-room {
  /* background-image: url('../../img/更新的檔/03-room/background.png'); */
  background-size: cover;
  min-height: 100vh;
  /* height: 100vh; */
}

#living-room .rooms.mblong {
  margin-bottom: 700px;
}

#living-room .rooms {
  height: 70%;
  position: relative;
  transition: margin-bottom 1s;
}

#living-room .rooms .openBtn {
  background-color: var(--main-bg-color);
  aspect-ratio: 1;
  width: 25%;
  border-radius: 50%;
  padding: 2rem;
  display: flex;
  flex-flow: column;
  text-align: center;
  outline: 20px solid var(--main-decorate-color);
  outline-offset: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  opacity: 1;
  transition: opacity 0.5s;
}

#living-room .rooms .noshow {
  opacity: 0;
}

#living-room .rooms .openBtn p {
  text-align: center;
  font-size: 1.5rem;
  color: var(--main-decorate-color);
  letter-spacing: 8px;
}

#living-room .room {
  display: flex;
  gap: 3rem;
}

#living-room .big-room {
  position: absolute;
  top: 0;
  right: 0;
  transition: 1s;
  justify-content: end;
}

#living-room .big-room.show {
  transform: translateY(110%);
}

#living-room .roomImg {
  width: 60%;
  border-radius: 32px;
  z-index: 1;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

#living-room .roomImg img {
  width: 100%;
}

#living-room .small-room .roomImg {
  clip-path: polygon(0% 0%, 90% 0%, 70% 100%, 0% 100%);
}

#living-room .big-room .roomImg {
  order: 2;
  clip-path: polygon(30% 0%, 100% 0%, 100% 100%, 10% 100%);
}

#living-room .small-room img {
  transform: translate(-5%, -30%) scale(2.5);
}

#living-room .big-room img {
  transform: translate(-15%, 10%) scale(2);
}

#living-room .room article {
  width: 40%;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  transform: scaleX(0);
  opacity: 0;
  transition: transform 1s, opacity 1s, position 1s;
}

#living-room .small-room article {
  transform-origin: left;
}

#living-room .big-room article {
  transform-origin: right;
}

#living-room .room article.show {
  opacity: 1;
  transform: scaleX(1);
}

#living-room .room article h3 {
  margin-bottom: 2rem;
}

#living-room .big-room article :is(h3, p) {
  text-align: end;
}

#living-room .room article p {
  font-size: 2rem;
  line-height: 4.5rem;
  margin-bottom: 1vw;
}

#living-room .room article p span {
  display: block;
  width: 100%;
  height: 5px;
  background-color: var(--main-bg-color);
  border-radius: 4px;
  margin: 8px 0;
}

#living-room .room article .btns {
  width: 95%;
  display: flex;
  gap: 1.5rem;
}

#living-room .big-room article .btns {
  justify-content: end;
}

#living-room .room article button {
  width: 100%;
  font-size: 1.5rem;
  padding: 5px 8px;
}

#living-room .small-room article p {
  position: relative;
  left: -40px;
}

#living-room .small-room article .btns {
  position: relative;
  left: -80px;
}

#living-room .big-room article h3 {
  position: relative;
  right: -80px;
}

#living-room .big-room article p {
  position: relative;
  right: -40px;
}

#contact-information {
  min-height: 100vh;
  position: relative;
  /* background-image: url('../../img/更新的檔/04-contact/background.png'); */
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  padding-top: calc(var(--web-side-padding-y) + 50px);
}

#contact-information .section-content {
  display: flex;
  position: relative;
  width: 90%;
  /* padding: 40px var(--web-side-padding-x); */
  /* background-color: rgba(255, 255, 255 , 0.5); */
}

#contact-information .section-title {
  margin-bottom: 2.5rem;
}

#contact-information .borderPic {
  width: calc(100% - 200px);
  height: calc(100% - 2 * var(--web-side-padding-y));
  top: var(--web-side-padding-y);
  left: 100px;
  position: absolute;
}

#contact-information .section-content > section {
  width: 100%;
  display: flex;
  flex-flow: column;
}

#contact-information .info {
  display: flex;
  flex-flow: column;
  gap: 1.8rem;
}

#contact-information .info > * {
  line-height: 2rem;
}

#contact-information .icons {
  display: flex;
  gap: 1rem;
  position: absolute;
  bottom: 0%;
  left: 200px;
}

#contact-information .icons .icon img {
  width: 50px;
}

#contact-information .map {
  transform: translateY(50px);
  width: 100%;
}

#contact-information .map iframe {
  width: 100%;
  height: 100%;
}

@media (max-width: 1366px) {
  :root {
    --web-side-padding-y: 40px;
    --web-side-padding-x: 100px;
  }

  nav .list {
    position: absolute;
    top: 10vh;
    left: 0;
    width: 100%;
    height: 90vh;
    flex-flow: column;
    text-align: end;
    background-color: var(--main-bg-color);
    padding: 1rem var(--web-side-padding-x)/2;
    z-index: 1;
  }

  nav li:not(.more) {
    background-color: transparent;
    background-image: url('../../img/01-header/nav-list-background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 50%;
    padding: 1rem;
    font-size: 1.5rem;
  }

  nav .list a {
    text-align: center;
  }

  nav .more {
    display: block;
  }

  nav ul .list {
    display: none;
  }

  nav ul .list.show {
    display: flex;
    flex-flow: column;
    gap: 2rem;
  }

  #performance-information {
    min-height: 80vh;
  }

  #living-room {
    min-height: 80vh;
  }

  h3 {
    font-size: 3rem;
  }

  #living-room .room article p {
    font-size: 1.5rem;
    line-height: 3rem;
  }

  #living-room .room article button {
    font-size: 1.5rem;
  }

  #contact-information {
    padding: 10%;
  }

  #contact-information .section-content {
    display: flex;
    flex-flow: column;
    /* gap: 3rem; */
  }

  #contact-information .info {
    margin-bottom: 3rem;
  }

  #contact-information .map {
    height: 500px;
    margin-bottom: 2rem;
    transform: translateY(0px);
  }

  #contact-information .map iframe {
    height: 100%;
  }

  #contact-information .icons {
    position: static;
    align-self: flex-end;
    margin-bottom: 2rem;
  }
}

@media (max-width: 960px) {
  #living-room .small-room img {
    transform: translate(-3%, -50%) scale(4);
  }

  #living-room .big-room img {
    transform: translate(-20%, 20%) scale(3.5);
  }
  .back-to-top-effectBox {
    width: 250px;
    height: 200px;
  }
  .back-to-top {
    width: 150px;
    right: -50px;
  }

  #living-room .rooms .openBtn {
    outline: 10px solid var(--main-decorate-color);
  }

  #living-room .rooms .openBtn p {
    font-size: 1rem;
  }
}

@media (max-width: 862px) {
  #living-room .rooms.mblong {
    margin-bottom: 800px;
  }
}

@media (max-width: 768px) {
  .banner {
    background-size: 280%;
    background-position: 85% 0px;
    background-origin: right;
  }

  .banner .logo {
    width: 250px;
    top: 40%;
    left: 10%;
  }

  #about-seety {
    padding-bottom: 100px;
  }

  #about-seety .imgSwiper {
    display: none;
  }

  #about-seety .text-n-controller {
    padding: 0;
  }

  #about-seety .text-n-controller .imgSwiper {
    display: block;
    width: 100%;
  }

  #performance-information {
    padding-bottom: 100px;
  }

  #performance-information .section-title h1::after {
    width: 120%;
  }

  #performance-information .section-title div {
    padding-right: 1rem;
  }

  #living-room {
    min-height: 50vh;
  }

  #living-room .rooms .openBtn {
    padding: 1rem;
  }

  #living-room .room {
    flex-flow: column;
  }

  #living-room .rooms.mblong {
    margin-bottom: 900px;
  }

  #living-room .big-room {
    align-items: flex-end;
  }

  #living-room .room .roomImg {
    transition: clip-path 1s, width 1s;
  }

  #living-room .room .roomImg.show {
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    width: 100%;
  }

  #living-room .room article {
    position: absolute;
    width: 100%;
    transform: scaleY(0);
  }

  #living-room .room article.show {
    position: static;
    transform: scaleY(1);
  }

  #living-room .small-room article p {
    position: relative;
    left: 0px;
  }

  #living-room .small-room article .btns {
    position: relative;
    left: 0px;
  }

  #living-room .big-room article h3 {
    position: relative;
    right: 0px;
  }

  #living-room .big-room article p {
    position: relative;
    right: 0px;
  }

  #living-room .small-room article {
    transform-origin: top;
  }

  #living-room .big-room article {
    transform-origin: top;
  }

  #living-room .big-room .roomImg {
    order: 0;
  }

  #contact-information {
    padding: var(--web-side-padding-x) var(--web-side-padding-y);
  }

  #contact-information .borderPic {
    width: calc(100% - 100px);
    left: 50px;
  }

  #contact-information .section-content {
    flex-flow: column;
    align-items: center;
    padding: 40px calc(var(--web-side-padding-x) / 2);
  }

  #contact-information .section-content > :nth-child(1) {
    width: 100%;
  }

  #contact-information .map {
    width: 100%;
  }

  #contact-information .map iframe {
    width: 100%;
  }
}

@media (max-width: 660px) {
  :root {
    --web-side-padding-x: 32px;
  }

  #contact-information {
    padding: 100px var(--web-side-padding-y);
  }

  #contact-information .borderPic {
    width: calc(100% - 64px);
    left: 32px;
  }
}

@media (max-width: 576px) {
  .back-to-top-effectBox {
    width: 120px;
    height: 120px;
  }
  .back-to-top {
    width: 100px;
  }

  h1 {
    font-size: 3rem;
  }

  #about-seety .container p {
    font-size: 1.5rem;
  }

  h5 {
    font-size: 1.5rem;
  }

  h6 {
    font-size: 20px;
  }

  .banner {
    background-size: 500%;
    background-position: 73% 25%;
    background-origin: right;
  }

  #living-room .rooms {
    margin-bottom: 900px;
  }

  #living-room .rooms .openBtn {
    opacity: 0;
  }

  #living-room .big-room {
    transform: translateY(110%);
  }

  #living-room .room .roomImg {
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    width: 100%;
  }

  #living-room .room article {
    position: static;
    transform: scaleY(1);
    opacity: 1;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 2rem;
  }

  #about-seety .decorate-cloud {
    min-width: 250px;
  }

  #about-seety {
    padding-bottom: 0;
    min-height: auto;
  }

  #about-seety .container p {
    font-size: 1rem;
    line-height: 2rem;
  }

  #about-seety .text-n-controller {
    gap: 1rem;
  }

  #performance-information {
    padding-bottom: 20px;
    min-height: auto;
  }

  #living-room {
    min-height: auto;
  }

  #living-room .rooms {
    margin-bottom: 700px;
  }

  #living-room .rooms.mblong {
    margin-bottom: 700px;
  }

  #living-room .room article h3 {
    margin-bottom: 0;
  }

  h3 {
    font-size: 2rem;
  }

  #living-room .room article p {
    font-size: 1.25rem;
    margin-bottom: 1rem;
  }

  h5 {
    font-size: 1.5rem;
    margin-bottom: 0;
  }

  h6 {
    font-size: 20px;
  }

  .section-title {
    margin-bottom: calc(var(--web-side-padding-y) / 2);
  }

  #performance-information .section-title h1::after {
    width: 125%;
    height: 10px;
  }

  #performance-information .section-title div {
    height: 30px;
    font-size: 2rem;
    line-height: 2rem;
  }

  #contact-information .section-title {
    margin-bottom: 1rem;
  }

  #contact-information .info {
    gap: 1rem;
  }
}

@keyframes appear {
  0% {
    transform: translateY(-100%);
  }

  40% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-25%);
  }

  60% {
    transform: translateY(-33%);
  }

  70% {
    transform: translateY(-25%);
  }

  80% {
    transform: translateY(0);
  }

  90% {
    transform: translateY(-10%);
  }

  100% {
    transform: translateY(0);
  }
}
