* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  /* scroll-behavior: smooth; */
}

a {
  color: #000;
}

h3 {
  font-size: 5rem;
}

h5 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

h6 {
  font-size: 1.5rem;
  font-weight: normal;
}

p {
  font-size: 1rem;
}

:root {
  --web-side-padding-y: 80px;
  --web-side-padding-x: 200px;
  --main-decorate-color: #c78763;
  --sub-decorate-color: #847d7d;
  --main-bg-color: #3d342e;
  --card-sub-color: #eaeaea;
  --nav-height: 10vh;
}

body {
  overflow-x: hidden;
  position: relative;
}

#svgPic {
  width: 100%;
  height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  inset: 0;
  z-index: 100;
  background-color: #fff;
  transition: 3s;
}

#svgPic.unshow {
  transform: translateY(-100%);
  opacity: 0.1;
}

/* header */

header {
  width: 100%;
  height: 90vh;
  display: flex;
  flex-flow: column;
}

.banner {
  width: 100%;
  height: 100%;
  background-image: url('../../img/更新的檔/00-header/banner\ background.JPG');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center -94px;
  background-attachment: fixed;
  overflow: hidden;
  position: relative;
}

.banner .logo {
  /* width: 30%; */
  position: absolute;
  right: 25%;
  bottom: 250px;
  transform: translate(49%, 33%);
  width: 532px;
  height: 296px;
}

.banner .logo img {
  width: 100%;
}

nav {
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 var(--web-side-padding-x);
  background-color: var(--main-bg-color);
  position: sticky;
  top: 0;
  z-index: 99;
}

nav .list {
  display: flex;
  gap: 1rem;
}

nav ul {
  display: flex;
  gap: 1rem;
}

nav li {
  font-size: 1.5vw;
  font-weight: 700;
  line-height: 1.5vw;
  background-color: var(--main-decorate-color);
  padding: 10px 16px;
  border-radius: 15px;
}

nav .more {
  display: none;
}

nav .back-to-top {
  width: 200px;
  position: absolute;
  top: 100%;
  right: 3%;
  display: none;
}
nav .back-to-top.appear {
  display: block;
  animation: appear 0.7s ease-out forwards;
}
nav .back-to-top.appear:hover {
  box-shadow: ;
}

/* main */
.section-content {
  width: 100%;
  height: 100%;
  padding: var(--web-side-padding-y) var(--web-side-padding-x);

  /* test */
  /* border: 1px solid #000; */
}

.section-title {
  font-size: 3rem;
  color: var(--card-sub-color);
  margin-bottom: var(--web-side-padding-y);
  transform: translateX(-200px);
  opacity: 0;
  filter: blur(4px);
  transition: all 0.8s ease;
}

.title-fade-in {
  transform: translateX(0px);
  opacity: 1;
  filter: blur(0);
}

#about-seety {
  background-image: url('../../img/更新的檔/01-about/background.png');
  background-size: cover;
  min-height: 100vh;
  position: relative;
  /* background: linear-gradient(135deg, #2d1414e3, #2b0f0f57); */
}

#about-seety .background-image {
  width: 1903px;
  height: 100%;
  position: absolute;
  z-index: 0;
}

#about-seety .decorate-cloud {
  width: 45%;
  min-width: 500px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 2;
  opacity: 0.3;
}

#about-seety .about-info {
  display: flex;
  gap: 10%;
}

#about-seety .imgSwiper {
  width: 60%;
}

#about-seety .swiper {
  width: 100%;
  height: 100%;
  border-radius: 2rem;
  overflow: hidden;
}

#about-seety .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

#about-seety .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#about-seety .swiper {
  margin-left: auto;
  margin-right: auto;
}

#about-seety .text-n-controller {
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  padding: 5rem 0;
}

#about-seety .container p {
  font-size: 2rem;
  line-height: 4rem;
}

#about-seety .controller {
  border-top: 5px solid var(--main-decorate-color);
  border-bottom: 5px solid var(--main-decorate-color);
  height: 150px;
  font-size: 4rem;
  line-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  color: var(--sub-decorate-color);
  position: relative;
}

.swiper-button-next.abSwiper::after {
  content: '';
}

.swiper-button-prev.abSwiper::after {
  content: '';
}

#about-seety .fa-play {
  color: var(--main-decorate-color);
}

#about-seety .controller::before {
  content: 'Click !';
  font-size: 2rem;
  position: absolute;
  top: -15px;
  left: 0;
  color: #000;
}

#performance-information {
  background-image: url('../../img/更新的檔/02-performance/background.png');
  background-size: cover;
  min-height: 100vh;
  position: relative;
}

#performance-information .section-title {
  display: flex;
  align-items: flex-end;
}

#performance-information .section-title h1 {
  display: flex;
  flex-flow: column;
  width: 800px;
  margin-right: 10%;
}

#performance-information .section-title h1 span:last-child {
  text-align: end;
}

#performance-information .section-title h1::after {
  content: '';
  width: 140%;
  height: 20px;
  background-color: var(--main-decorate-color);
  border-radius: 8px;
}

#performance-information .section-title div {
  width: 100%;
  height: 50px;
  background-color: var(--main-decorate-color);
  border-radius: 8px;
  color: var(--card-sub-color);
  text-align: end;
  line-height: 50px;
  font-size: 3rem;
  padding-right: 3rem;
}

.performance-information-card {
  width: 450px;
  height: 450px;
  position: relative;
  display: flex;
  flex-flow: column;
  user-select: none;
  cursor: pointer;
}

.performance-information-card img {
  width: 90%;
}

.performance-information-card span {
  display: inline-block;
  width: 100%;
  aspect-ratio: 1 / 0.9;
  background-color: var(--sub-decorate-color);
  position: absolute;
  left: 0;
  top: 10%;
  z-index: -1;
}

.performance-information-card small {
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: capitalize;
  align-self: flex-end;
  margin-right: 40px;
  line-height: 2.5rem;
}

#performance-information .swiper {
  width: 100%;
  height: 100%;
}

#performance-information .swiper-slide {
  text-align: center;
  font-size: 18px;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

#performance-information.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#performance-information .sound-effect {
  width: 25%;
  position: absolute;
  bottom: 3rem;
  mix-blend-mode: multiply;
}

#living-room {
  background-image: url('../../img/更新的檔/03-room/background.png');
  background-size: cover;
  min-height: 100vh;
  /* height: 100vh; */
}
#living-room .rooms.mblong {
  margin-bottom: 700px;
}
#living-room .rooms {
  height: 100%;
  display: flex;
  flex-flow: column;
  gap: 3rem;
  position: relative;
  transition: margin-bottom 1s;
}

#living-room .room {
  height: 700px;
  display: flex;
  gap: 3rem;
}

#living-room .big-room {
  position: absolute;
  transition: 1s;
}
#living-room .big-room.show {
  transform: translateY(100%);
}
#living-room .roomImg {
  width: 70%;
  height: 80%;
  border-radius: 32px;
  z-index: 1;
  overflow: hidden;
}

#living-room .roomImg img {
  width: 100%;
}

#living-room .small-room .roomImg {
  clip-path: polygon(0% 0%, 90% 0%, 70% 100%, 0% 100%);
}

#living-room .big-room .roomImg {
  order: 2;
  clip-path: polygon(30% 0%, 100% 0%, 100% 100%, 10% 100%);
}

#living-room .small-room img {
  transform: translate(8%, -35%) scale(1.6);
}

#living-room .big-room img {
  transform: translate(-5%, 0%) scale(1.5);
}

#living-room .room article {
  width: 40%;
  height: 80%;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

#living-room .room article h3 {
  margin-bottom: 2rem;
}

#living-room .big-room article :is(h3, p) {
  text-align: end;
}

#living-room .room article p {
  font-size: 2rem;
  line-height: 4.5rem;
  margin-bottom: 1vw;
}

#living-room .room article .btns {
  display: flex;
  gap: 1.5rem;
}
#living-room .big-room article .btns {
  justify-content: end;
}
#living-room .room article button {
  font-size: 2rem;
  padding: 1% 3%;
}

#living-room .small-room article p {
  position: relative;
  left: -80px;
}
#living-room .small-room article .btns {
  position: relative;
  left: -180px;
}
#living-room .big-room article h3 {
  position: relative;
  right: -180px;
}
#living-room .big-room article p {
  position: relative;
  right: -120px;
}

#contact-information {
  min-height: 100vh;
  position: relative;
  background-image: url('../../img/更新的檔/04-contact/background.png');
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

#contact-information .section-content {
  display: flex;
  position: relative;
  width: 90%;
  /* background-color: rgba(255, 255, 255 , 0.5); */
}

#contact-information .borderPic {
  width: calc(100% - 200px);
  height: calc(100% - 2 * var(--web-side-padding-y));
  top: var(--web-side-padding-y);
  left: 100px;
  position: absolute;
}

#contact-information .section-content > section {
  width: 100%;
  display: flex;
  flex-flow: column;
}

#contact-information .info {
  display: flex;
  flex-flow: column;
  gap: 1.5rem;
}

#contact-information .info > * {
  line-height: 2rem;
}

#contact-information .icons {
  display: flex;
  gap: 2rem;
  transform: translate(-10%, 40%);
}

#contact-information .map {
  width: 100%;
}

#contact-information .map iframe {
  width: 100%;
  height: 100%;
}

@media (max-width: 1366px) {
  :root {
    --web-side-padding-y: 40px;
    --web-side-padding-x: 100px;
  }

  nav .list {
    position: absolute;
    top: 10vh;
    flex-flow: column;
    text-align: end;
    background-color: var(--main-bg-color);
    padding: 1rem 0.5rem 1rem 2rem;
  }

  nav .more {
    display: block;
  }

  nav ul .list {
    display: none;
  }

  nav ul .list.show {
    display: block;
  }

  #contact-information .section-content {
    padding-left: 10%;
  }

  #living-room .room img {
    width: 60%;
  }

  #living-room .room article {
    width: 40%;
  }

  #living-room .room img {
    object-fit: cover;
  }

  #contact-information {
    padding: 20% 10%;
  }

  #contact-information .section-content {
    display: flex;
    flex-flow: column;
  }
}

@media (max-width: 768px) {
  #contact-information {
    padding: var(--web-side-padding-x) var(--web-side-padding-y);
  }

  #contact-information .section-content {
    flex-flow: column;
    align-items: center;
  }

  #contact-information .section-content > :nth-child(1) {
    width: 100%;
  }

  #contact-information .map {
    width: 100%;
  }

  #contact-information .map iframe {
    width: 100%;
  }
}

@media (max-width: 680px) {
  h1 {
    font-size: 2.5rem;
  }

  #performance-information .section-title {
    width: 80%;
  }

  #performance-information .section-title + div {
    top: calc(var(--web-side-padding-y) + 70px);
    padding-right: 1.5rem;
  }
}

@media (max-width: 540px) {
  h1 {
    font-size: 2rem;
  }

  #performance-information .section-title {
    width: 70%;
  }

  #performance-information .section-title + div {
    width: 60%;
    height: 30px;
    top: calc(var(--web-side-padding-y) + 70px);
    padding-right: 1.5rem;
    line-height: 1.5rem;
  }

  #contact-information .section-title {
    width: 70%;
    display: flex;
    flex-flow: column;
  }
}

@keyframes appear {
  0% {
    transform: translateY(-100%);
  }
  40% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-25%);
  }
  60% {
    transform: translateY(-33%);
  }
  70% {
    transform: translateY(-25%);
  }
  80% {
    transform: translateY(0);
  }
  90% {
    transform: translateY(-10%);
  }
  100% {
    transform: translateY(0);
  }
}
