<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <div class="container">
    <h1 class="exhibition-name">{%EXHIBITIONNAME%}</h1>
    <figure class="exhibition">
      <img src={%IMAGE%} alt="展演宣傳照">
      <a href="/overview"><span>↖︎返回上一頁</span></a>
      <div class="exhibition-detail">
        <p>日期｜{%DATE%}</p>
        <p>時間｜{%ENTERTIME%}</p>
        <p>票價｜{%TICKETPRICE%}</p>
      </div>
      <h2>{%PERFORMER%}</h2>
      <p>{%PERFORMERDESCRIPTION%}</p>
      <p class="exhibition-description">{%DESCRIPTION%}</p>
    </figure>
  </div>
</body>

</html>